<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add connectionString="data source=192.168.123.195;initial catalog=JEPCOPortal;user id=Jepcoweb;password=Jepco@123$$" name="SiteWareCMS_DB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
	  
	  <!-- Start New Configratuin   -->
	  
	 <!-- Start Middleware Tokens -->
	  <add key="usernameMiddleware" value="JepcoWebsite"/>
	  <add key="passwordMiddleware" value="Web@jepco@123"/>
	 <!-- End Middleware Tokens -->
	  
	  
	  <!-- Domain :  -->
	  <add key="domainName" value="http://localhost:58842/"/>

	 <!-- New Api Url :  -->
	 <add key="APIurl" value="https://mobile.jepco.com.jo:443/JepcoBackendSystemPrd/"/>
    
	<add key="ImagePath" value="http://localhost:1591"/>
	  
	  <!-- End  New Configratuin   -->


	  <add key="RoutePath" value="/Home/"/>
    <add key="PageSize" value="2"/>
    <add key="SearchPageSize" value="2"/>
    <add key="GallerySize" value="10"/>
    <add key="APIKey" value="nP5shZG6Mv0c2waIy2OrdoETW"/>
    <add key="APISecret" value="1aigTeOfzpC9DvdIdzZm4Ni3PyUz4dHkAcV6znzvlHaS0pjao2"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="UploadPath" value="\Siteware\Siteware_File\image\JEPCO\JobApplicationFiles\"/>
    <add key="ToMail" value="info3@aura-techs.com"/>
    <add key="CCMail1" value="info3@aura-techs.com"/>
    <add key="CCMail2" value="info3@aura-techs.com"/>
    <add key="CCMail3" value="info3@aura-techs.com"/>
    <add key="ComplainAPIPAth" value="http://94.142.37.83/XML/issue.asmx?op="/>
    <add key="MobileAPIurl" value="http://mobile.jepco.com.jo:8080/JepcoMobApiProd/"/>
    <add key="SMSUName" value="sap"/>
    <add key="SMSPWD" value="Jepco@2020"/>
    <add key="TokenURL" value="https://zsms.jo.zain.com/core/user/rest/user/generateintegrationtoken"/>
    <add key="SMSURL" value="https://zsms.jo.zain.com/core/corpsms/sendNow"/>
    <add key="ToMailCompanyApprovals" value=""/>
    <add key="CCMAilCompanyApprovals1" value=""/>
    <add key="ToMailSolarDeviceAdmin" value="info3@aura-techs.com"/>
    <add key="CCMailSolarDeviceAdmin1" value="aabdullah@jepco.com.jo"/>
    <add key="CCMailSolarDeviceAdmin2" value="info3@aura-techs.com"/>
    <add key="CCMailSolarDeviceAdmin3" value="info3@aura-techs.com"/>
    <add key="ToMailSolarCellAdmin" value="info3@aura-techs.com"/>
    <add key="CCMailSolarCellAdmin1" value="aabdullah@jepco.com.jo"/>
    <add key="CCMailSolarCellAdmin2" value="info3@aura-techs.com"/>
    <add key="CCMailSolarCellAdmin3" value="info3@aura-techs.com"/>
    <add key="UploadPathRenewableEnergyRequest" value="\Siteware\Siteware_File\image\JEPCO\RenewableEnergyRequest\"/>
    <add key="PaymentefawateerAPIurl" value="https://staging.efawateercom.jo/DirectPayService/DirectPay.aspx?"/>
    <add key="RedirectURLPaymentLocal" value="http://staging.efawateercom.jo/DirectPayService/DirectPay.aspx?RequestParams="/>
  </appSettings>
  <system.web>
    <machineKey validationKey="C4805316F84252E8551FA151BC8745FCB857C443" decryptionKey="FF7CED4C8B285DCB84F6A3545731D46F66A614994A16451F0170588F097EFFED" validation="SHA1" decryption="AES"/>
    <compilation targetFramework="4.5" tempDirectory="C:\JepcoPortal\tmp" debug="true">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <globalization culture="en-US" uiCulture="en-US"/>
    <!--<authentication mode="Windows" />-->
    <!--<customErrors mode="Off" defaultRedirect="/ErrorPages/Error404.html">
      <error statusCode="401" redirect="/ErrorPages/Error401.aspx"/>
      <error statusCode="402" redirect="/ErrorPages/Error402.aspx"/>
      <error statusCode="403" redirect="/ErrorPages/Error403.aspx"/>
      <error statusCode="404" redirect="ErrorPages/Error404.aspx"/>
    </customErrors>-->
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.30930.0" newVersion="3.0.30930.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="ErrorPages/Error404.html" responseMode="ExecuteURL"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" path="ErrorPagefive.html" responseMode="ExecuteURL"/>
    </httpErrors>-->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <urlCompression doStaticCompression="true"/>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".rss"/>
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
      <!-- HTML5 Audio/Video mime types-->
      <remove fileExtension=".mp3"/>
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".ogg"/>
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
      <remove fileExtension=".ogv"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf "/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".crx"/>
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
      <remove fileExtension=".xpi"/>
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
      <remove fileExtension=".safariextz"/>
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
      <!-- Flash Video mime types-->
      <remove fileExtension=".flv"/>
      <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
      <remove fileExtension=".f4v"/>
      <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="Default.aspx"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="400"/>
      <error statusCode="400" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\bad_request.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\unsupported_media_type.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jepco.com.jo\error_docs\bad_gateway.html"/>
    </httpErrors>
  </system.webServer>
</configuration>
<!--ProjectGuid: 428a4d01-5376-42f8-9f37-7f25281770fe-->